@keyframes anim {
  from{
    opacity: 0;
    transform: translate3d(0,-30px,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,-0,0);
  }
}

.login-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  animation: anim .2s forwards;
}

.login-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.close {
  position: absolute;
  top: 50px;
  right: 30%;
  font-size: 4rem;
  cursor: pointer;
  color: #d9d9d9;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}